In [5]:
import pandas as pd
import requests

# Fetch data from the Fantasy Premier League API
url = "https://fantasy.premierleague.com/api/bootstrap-static/"
response = requests.get(url)
data = response.json()

# Extract elements (players) data
elements = data['elements']

# Create DataFrame from elements data
df = pd.DataFrame(elements)

# Display the DataFrame
print(f"Total players: {len(df)}")
df.head()

Total players: 743

,can_transact,can_select,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,...,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90,defensive_contribution_per_90
0,True,True,NaN,NaN,154561,1,-1,2,-2,1,...,1,96,5,42,5,11,2,1.0,0.57,0.00
1,True,True,NaN,NaN,109745,0,0,-2,2,0,...,35,488,70,536,75,237,32,0.0,0.00,0.00
2,True,False,0.0,0.0,463748,0,0,0,0,0,...,66,447,53,497,58,298,43,0.0,0.00,0.00
3,True,True,NaN,NaN,551221,0,0,0,0,0,...,79,472,66,521,71,349,53,0.0,0.00,0.00
4,True,True,100.0,75.0,226597,1,-1,3,-3,1,...,1,4,1,6,2,10,3,1.0,0.57,9.43

In [6]:
# Check for null values in ep_this and ep_next columns
print("Null values in ep_this:", df['ep_this'].isnull().sum())
print("Null values in ep_next:", df['ep_next'].isnull().sum())

# Show rows with null values in either column
null_ep_this = df[df['ep_this'].isnull()]
null_ep_next = df[df['ep_next'].isnull()]

print(f"\nRows with null ep_this: {len(null_ep_this)}")
print(f"Rows with null ep_next: {len(null_ep_next)}")

if len(null_ep_this) > 0:
    print("\nSample rows with null ep_this:")
    print(null_ep_this[['id', 'first_name', 'second_name', 'ep_this', 'ep_next']].head())

if len(null_ep_next) > 0:
    print("\nSample rows with null ep_next:")
    print(null_ep_next[['id', 'first_name', 'second_name', 'ep_this', 'ep_next']].head())

Null values in ep_this: 0
Null values in ep_next: 0

Rows with null ep_this: 0
Rows with null ep_next: 0

In [4]:
import pandas as pd
import requests

# Fetch data from the Fantasy Premier League API
url = "https://fantasy.premierleague.com/api/bootstrap-static/"
response = requests.get(url)
data = response.json()

# Extract elements (players) data
elements = data['element_types']

# Create DataFrame from elements data
df = pd.DataFrame(elements)

# Display the DataFrame
print(f"Total players: {len(df)}")
df.head()

Total players: 4

,id,plural_name,plural_name_short,singular_name,singular_name_short,squad_select,squad_min_select,squad_max_select,squad_min_play,squad_max_play,ui_shirt_specific,sub_positions_locked,element_count
0,1,Goalkeepers,GKP,Goalkeeper,GKP,2,None,None,1,1,True,[12],86
1,2,Defenders,DEF,Defender,DEF,5,None,None,3,5,False,[],245
2,3,Midfielders,MID,Midfielder,MID,5,None,None,2,5,False,[],330
3,4,Forwards,FWD,Forward,FWD,3,None,None,1,3,False,[],82